<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <form action="./addToCart" method="post">
      <% for(const product of products){ %> <% if( product.id==id ){ %>

      <label
        >product name:
        <input type="text" name="name" value="<%= product.name %>" /></label
      ><br />
      <label
        >product description:
        <input
          type="text"
          name="description"
          value="<%= product.description %>" /></label
      ><br />
      <label
        >product price:
        <input type="text" name="price" value="<%= product.price %>" /></label
      ><br />

      <% } %> <% } %>
      <button>Add to Cart</button>
    </form>
  </body>
</html>
